{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "import/no-extraneous-dependencies": [
      "error", {
        "packageDir": [
          "./",
          "./packages/i18n",
          "./packages/markdown",
          "./packages/acyort"
        ]
      }
    ]
  }
}
