body {
  background: #fff;
  font-family: Roboto Slab, Roboto, PingFang SC, Microsoft YaHei, sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.center {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}
.markdown-body {
  font-family: apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,PingFang SC,Microsoft YaHei,sans-serif;
  font-size: 14px;
  color: #49535d;
  line-height: 1.6;
  margin-top: 30px;
}
h1, h2 {
  margin: 0;
}

.header {
  text-align: center;
  padding: 100px 0 20px;
}
.header > a {
  color: #fff;
  font-size: 24px;
  border-radius: 3px;
  padding: 3px 12px;
  letter-spacing: 1px;
  background-color: #000;
}
.header p {
  color: #333;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.4;
}
.menu {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 100px;
}
.menu a {
  display: inline-block;
  font-size: 15px;
  color: #757575;
  margin: 0 30px -1px 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  letter-spacing: .5px;
}
.menu a:hover {
  border-bottom-color: #757575;
}
.menu a.active {
  border-bottom-color: #2bb24c!important;
  color: #2bb24c;
}

.footer {
  padding-bottom: 70px;
  margin-top: 150px;
  text-align: center;
  font-size: 14px;
  color: #757575;
}
.footer a {
  color: #757575;
}

#posts ul {
  margin: 0;
  padding: 0;
}
#posts li {
  border-bottom: 1px solid #f5f5f5;
  padding: 50px 0;
  list-style: none;
}
.post > h2 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
}
.post > h2 a {
  color: #2F3335;
}
.post > h2 a:hover {
  color: #2bb24c;
}
.post .time {
  color: #878B94;
  font-size: 14px;
  margin-top: 10px;
}

#pagination {
  margin-top: 70px;
  display: flex;
  font-size: 14px;
  color: #757575;
  justify-content: space-between;
  vertical-align: middle;
}
#pagination a {
  color: #565656;
  padding: 5px 16px;
  border-radius: 16px;
  border: 1px solid #eee;
  margin-top: -10px;
}
#pagination a.disabled {
  visibility: hidden;
}
#pagination a:hover {
  color: #2bb24c;
}

#post {
  padding-top: 30px;
}
#post > h1 {
  color: #212427;
  font-size: 24px;
  font-weight: 500;
}
#post > p {
  font-size: 14px;
  color: #969896;
  margin-top: 14px;
}

.clouds > div {
  margin-top: 30px;
}
.clouds > div p {
  display: inline-block;
  margin: 0 20px 20px 0;
}
.clouds a {
  color: #221155;
}
.clouds a:hover {
  color: #2bb24c;
}
.clouds span {
  color: #757575;
}
