body, div, h1, h2, h3, h4, h5, p, ul, pre {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
}
html {
  -webkit-text-size-adjust: 100%;
}
html, body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
body {
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, PingFang SC, Microsoft YaHei, sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.center {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
}
.head-tag {
  font-size: 16px;
  color: #6D6D6D;
  margin: 30px 0;
}
.head-tag:first-letter {
  text-transform: uppercase;
}
.header {
  position: relative;
  background: #374756 url(../images/header.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}
.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .35);
  top: 0;
  left: 0;
}
.header .center {
  padding-top: 120px;
  padding-bottom: 30px;
}
.header h1 {
  font-size: 26px;
  font-weight: 500;
}
.header a {
  color: #fff;
}
.header p {
  color: #f2f2f2;
  margin-top: 14px;
  font-size: 16px;
  line-height: 1.6;
}
.menu {
  position: absolute;
  top: 20px;
  right: 20px;
}
.menu a {
  display: inline-block;
  margin: 0 0 10px 10px;
  font-size: 15px;
  color: #f2f2f2;
}
.menu a:hover {
  color: #fff;
}
.menu a:first-letter {
  text-transform: uppercase;
}
#posts {
  min-height: 600px;
}
#posts li {
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 40px 0;
  list-style: none;
}
.post {
  padding-right: 100px;
}
.post h2 {
  font-size: 22px;
  line-height: 1.5;
}
.post h2 a {
  color: #2F3335;
}
.post h2 a:hover {
  color: #5694f1;
}
.post .time {
  color: #878B94;
  font-size: 14px;
  margin-top: 10px;
}
.summary {
  margin-top: 30px;
}
.summary p {
  color: #5A5A67;
  font-size: 14px;
  line-height: 1.8;
}
.summary a {
  color: #333;
}
.author {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 40px;
}
.author img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.footer {
  background: #f7f7f7;
  border-top: 1px solid #f3f3f3;
  padding: 50px 0;
  margin-top: 70px;
  text-align: center;
  font-size: 14px;
  color: #565656;
}
.footer a {
  color: #565656;
  line-height: 1.5;
}
#pagination {
  margin-top: 50px;
  position: relative;
  text-align: center;
}
#pagination a {
  color: #5694f1;
  text-decoration: none;
  font-size: 14px;
}
#pagination a:hover {
  text-decoration: underline;
}
#pagination > a {
  position: absolute;
  top: 0;
  left: 0;
}
#pagination a[rel="next"] {
  left: auto;
  right: 0;
}
#pagination span {
  color: #999;
  font-size: 14px;
}
.clouds {
  min-height: 400px;
}
.clouds > div p {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.clouds a {
  color: #333;
}
.clouds a:hover {
  color: #5694f1;
}
.clouds span {
  color: #999;
}
#post {
  padding-top: 20px;
}
#post > h1 {
  color: #212427;
  font-size: 26px;
}
#post > p {
  font-size: 14px;
  color: #969896;
  margin-top: 14px;
}
#post > p a {
  color: #5694f1;
  margin-right: 5px;
}
#post .content:before {
  content: '';
  height: 1px;
  display: block;
  width: 30px;
  margin: 50px 0 30px;
  background: #eee;
}
.label {
  margin-top: 30px;
}
.label div {
  padding: 2px 12px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 8px;
  border: 1px solid #e2e2e2;
  font-size: 13px;
}
.label a {
  color: #6D6D6D;
}
.relate {
  margin-top: 50px;
  overflow: hidden;
}
.relate a {
  font-size: 15px;
  color: #5694f1;
  float: left;
}
.relate a[rel="next"] {
  float: right;
}

/* article content */
.content {
  font-size: 15px;
  color: #4c4c4c;
}
.content h1, .content h2, .content h3, .content h4, .content h5 {
  font-weight: 700;
  margin-bottom: 14px;
  margin-top: 24px;
  color: #484848;
}
.content p {
  margin-bottom: 16px;
  line-height: 1.6;
}
.content h5 {
  font-size: 16px;
}
.content h4 {
  font-size: 18px;
}
.content h3 {
  font-size: 20px;
}
.content h2 {
  font-size: 22px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
}
.content h1 {
  font-size: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
}
.content blockquote {
  margin: 14px;
  padding-left: 30px;
  border-left: 3px solid #999;
}
.content a {
  color: #333;
  text-decoration: underline;
}
.content hr {
  height: 3px;
  width: 100%;
  margin: 20px auto;
  background: #eee;
  border: none;
}
.content ul, .content ol {
  margin: 20px 0 10px;
  padding-left: 25px;
}
.content ol li, .content ul li {
  margin-top: 5px;
  line-height: 1.6
}
.content img {
  margin-top: 14px;
  margin-bottom: 14px;
  display: block;
  max-width: 100%;
  height: auto;
}
code {
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  padding: 1px 5px;
  border-radius: 3px;
}
table {
  margin-bottom: 10px;
  padding: 0;
  border-collapse: collapse;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}
.hljs {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  position: relative;
  background: #f7f7f7;
  border-radius: 3px;
}
.hljs pre {
  line-height: 1.4;
}
.hljs table {
  margin: 0;
  width: auto;
  border: none;
}
.hljs td, .hljs tr {
  border: none;
  padding: 0;
  background: none;
}
.hljs .line {
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #d5d5d5;
}
.hljs .code {
  padding-left: 10px;
}
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.hljs-comment,
.hljs-meta {
  color: #969896;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}
.hljs-section,
.hljs-name {
  color: #63a35c;
}
.hljs-tag {
  color: #333333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}
