<!DOCTYPE html>
<html lang="en">
<head>
@import(extend/head.html, {
    "title": "archives - {{{title}}}"
})
</head>
<body>

@import(extend/header.html)

<div class="archives center">

    <h2 class="tag">Archives</h2>

    {{#lists}}
    <div>
        <h3>{{{year}}}</h3>
        <ul>
        {{#posts}}
        <li>
            <p><span>{{{time.MMM}}} {{{time.DD}}}</span><a href="{{{url}}}">{{{title}}}</a></p>
            <div class="label"> 
            {{#tags}}
            <a href="{{{url}}}">#{{{name}}}</a>
            {{/tags}}
            </div>
        </li>
        {{/posts}}
        </ul>
    </div>
    {{/lists}}

</div>

@import(extend/fooetr.html)

</body>
</html>
