<!DOCTYPE html>
<html lang="en">
<head>
@import(extend/head.html, {
    "title": "{{{site.title}}}"
})
</head>
<body>

@import(extend/header.html)

<div id="posts" class="center">

    <ul>
    {{#posts}}
        <li>

        <div class="post">
            <h2><a href="{{{url}}}">{{{title}}}</a></h2>
            <p class="time">{{{time.MMM}}} {{{time.DD}}}, {{{time.YYYY}}}</p>
            <div>{{{summary}}}</div>
        </div>

        <a class="author" href="{{{author.url}}}" target="_blank">
            <img src="{{{author.avatar}}}" />
        </a>

        </li>
    {{/posts}}
    </ul>

    <div>
    {{#categories}}
        <a href="">all</a>
        <a href="{{{url}}}">{{{name}}}({{{number}}})</a>
    {{/categories}}
    </div>

@import(extend/pagination.html)

</div>

@import(extend/fooetr.html)

</body>
</html>
