{% extends 'layout.html' %}

{% block title %}
{{ post.title }} | {{ config.title }}
{% endblock %}

{% block content %}
<div id="post" class="center">

    <h1>{{ post.title }}</h1>

    <p><a href="{{ post.author.url }}">{{ post.author.name }}</a> Posted at {{ helper.time(post.created, 'MMM DD, YYYY') }} . - <a href="{{ post.category.url }}">{{ post.category.name}}</a>
    </p>

    {% if post.toc %}
    <div class="toc">
        <h3>Table Of Contents</h3>
        {% autoescape false %}{{ post.toc }}{% endautoescape %}
    </div>
    {% endif %}

    <div class="content">{% autoescape false %}{{ post.content }}{% endautoescape %}</div>

    {% if post.tags.length %}
    <div class="label">
    {% for tag in post.tags %}
    <div><a href="{{ tag.url }}">#{{ tag.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}

    <div class="relate">
    {% if post.prev %}
    {% set prev = helper.post(post.prev) %}
    <a rel="prev" href="{{ prev.url }}">← {{ prev.title }}</a>
    {% endif %}

    {% if post.next %}
    {% set next = helper.post(post.next) %}
    <a rel="next" href="{{ next.url }}">{{ next.title }} →</a>
    {% endif %}
    </div>

    <div class="comment_list hide" id="disqus_thread"></div>
    <div id="duoshuo_thread" class="comment_list hide ds-thread" data-thread-key="{{ post.id }}" data-title="" data-url=""></div>

    <button data-id="{{ post.id }}" id="comment">Add Comments</button>

</div>
{% endblock %}

{% block script %}
{% if config.disqus %}
<script>
var c = {
    name: '{{ config.disqus }}',
    url: '//{{ config.disqus }}.disqus.com/embed.js'
}
</script>
{% endif %}
{% if config.duoshuo %}
<script>
var c = {
    name: '{{ config.duoshuo }}',
    url: '//static.duoshuo.com/embed.js'
}
</script>
{% endif %}
<script src="{{ config.root }}/js/comment.js"></script>
{% endblock %}
