<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="google" content="notranslate" />
<link rel="icon" href="/dists/icon.png" />
<title> {{{title}}} </title>
<link rel="stylesheet" href="/dists/acyort.css" />
</head>
<body>

<div class="header">
    <div class="center">
        <h1><a href="/">{{{title}}}</a></h1>
        <p>{{{about}}}</p>
    </div>
    <div class="menu">
    {{#menu}}
        <a href="{{{url}}}">{{{name}}}</a>
    {{/menu}}
    </div>
</div>

<div id="posts" class="center">

    <div class="archives">
    {{#posts}}
    <p class="y{{{post_year}}}"><a href="{{{post_url}}}">{{{title}}}</a><span>{{{post_time}}}</span></p>
    {{/posts}}
    </div>

    <div id="pagination">{{{prev}}}{{{next}}}</div>

</div>

<div class="footer">
    <div class="center">
        © {{{year}}} {{{title}}} . <a target="_blank" href="https://github.com/youmi/AcyOrt">AcyOrt</a> . <a target="_blank" href="{{{rss}}}">RSS</a>
    </div>
</div>

</body>
</html>
