{% macro render(pagination) %}

<div id="pagination">
  {% if pagination.prev %}
  <a href="{{ _url(pagination.prev) }}">{{ __('prev') }}</a>
  {% else %}
  <a class="disabled" href="{{ _url(pagination.prev) }}">{{ __('prev') }}</a>
  {% endif %}

  <span>{{ __('paginator', pagination.current, pagination.total) }}</span>

  {% if pagination.next %}
  <a href="{{ _url(pagination.next) }}">{{ __('next') }}</a>
  {% else %}
  <a class="disabled" href="{{ _url(pagination.next) }}">{{ __('next') }}</a>
  {% endif %}
</div>

{% endmacro %}
