{% macro render(type, helper) %}

<ul>
{% for id in type.posts %}
{% set post = helper.post(id) %}
    <li>
    <div class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <h3>{{ helper.__n('tag_cloud', 10) }}</h3>
        <h4>{{ helper.post_url(post.id) }}</h4>
        <p class="time">{{ helper.time(post.updated, 'MMM DD, YYYY') }}</p>

        {% if post.thumb %}
        <img class="thumb" src="{{ post.thumb }}" />
        {% endif %}

        {% if post.summary %}
        <div class="summary">{% autoescape false %}{{ post.summary }}{% endautoescape %}</div>
        {% endif %}
    </div>

    <a class="author" href="{{ post.author.url }}" target="_blank">
        <img src="{{ post.author.avatar }}" />
    </a>
    </li>
{% endfor %}
</ul>

{% endmacro %}
