{% macro render(page) %}

<ul>
{% for id in page.posts %}
{% set p = _posts(id) %}
  <li>
    <div class="post">
      <h2><a href="{{ _url(p.url) }}">{{ p.title }}</a></h2>
      <p class="time">{{ _time(p.created, 'MMMM DD, YYYY') }}</p>

      {% if p.excerpt %}
      <div class="summary">{{ p.excerpt }}</div>
      {% endif %}
    </div>

    <a class="author" href="{{ p.author.url }}" target="_blank">
      <img src="{{ p.author.avatar }}" />
    </a>
  </li>
{% endfor %}
</ul>

{% endmacro %}
