<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="google" content="notranslate" />
<link rel="icon" href="/assets/icon.png" />
<title> archives - {{{site_title}}} </title>
<link rel="stylesheet" href="/assets/acyort.css" />
</head>
<body>

<div class="header">
    <div class="center">
        <h1><a href="/">{{{site_title}}}</a></h1>
        <p>{{{site_about}}}</p>
    </div>
    <div class="menu">
    {{#menu}}
        <a href="{{{url}}}">{{{name}}}</a>
    {{/menu}}
    </div>
</div>

<div id="posts" class="center">

    <div class="archives">
    {{#posts}}
    <p class="y{{{post_year}}}"><a href="{{{path}}}">{{{title}}}</a><span>{{{post_time}}}</span></p>
    {{/posts}}
    </div>

    <div id="pagination">
        <a rel="prev" class="{{{prev.css}}}" href="{{{prev.url}}}">← Newer Posts</a>
        <a rel="next" class="{{{next.css}}}" href="{{{next.url}}}">Older Posts →</a>
    </div>

</div>

<div class="footer">
    <div class="center">
        © {{{full_year}}} {{{site_title}}} . <a target="_blank" href="https://github.com/LoeiFy/AcyOrt">AcyOrt</a> . <a target="_blank" href="{{{rss}}}">RSS</a>
    </div>
</div>

</body>
</html>
