<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="google" content="notranslate" />
<link rel="icon" href="/assets/icon.png" />
<title>{{{title}}} - {{{site_title}}} </title>
<link rel="stylesheet" href="/assets/acyort.css" />
</head>
<body>

<div class="header">
    <div class="center">
        <h1><a href="/">{{{site_title}}}</a></h1>
        <p>{{{site_about}}}</p>
    </div>
    <div class="menu">
    {{#menu}}
        <a href="{{{url}}}">{{{name}}}</a>
    {{/menu}}
    </div>
</div>

<div id="post" class="center">

    <h1>{{{title}}}</h1>
    <p><a href="{{{user.html_url}}}">{{{user.login}}}</a> Updated at {{{post_time}}}</p>

    <div class="content">{{{marked_body}}}</div>

    <div class="label">
    {{#labels}}
    <div><a href="/tags/{{{name}}}/">#{{{name}}}</a></div>
    {{/labels}}
    </div>

    <div class="comment_list hide" id="disqus_thread"></div>
    <div id="duoshuo_thread" class="comment_list hide ds-thread" data-thread-key="{{{id}}}" data-title="" data-url=""></div>

    <button class="hide" data-id="{{{id}}}" id="comment">Add Comments</button>

</div>

<div class="footer">
    <div class="center">
        © {{{full_year}}} {{{site_title}}} . <a target="_blank" href="https://github.com/LoeiFy/AcyOrt">AcyOrt</a> . <a target="_blank" href="{{{rss}}}">RSS</a>
    </div>
</div>

<script>

if ('{{{comment.name}}}'.length > 0) {
    document.getElementById('comment').classList.remove('hide')
}

var duoshuoQuery = {short_name: '{{{comment.name}}}'};

document.getElementById('comment').addEventListener('click', function() {

    this.style.display = 'none';

    var identifier = this.getAttribute('data-id'),
        title = document.title,
        url = location.href.split('?')[0];

    document.getElementById('duoshuo_thread').setAttribute('data-title', title)
    document.getElementById('duoshuo_thread').setAttribute('data-url', url)

    var disqus_config = function () {
        this.page.url = url;
        this.page.identifier = identifier;
    };

    var sc = document.createElement('script'); 
    sc.async = true;
    sc.src = (location.protocol == 'https:' ? 'https:' : 'http:') + '{{{comment.url}}}';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(sc);

    if ('{{{comment.url}}}'.indexOf('disqus') > -1) {
        document.getElementById('disqus_thread').classList.remove('hide')
    }

    if ('{{{comment.url}}}'.indexOf('duoshuo') > -1) {
        document.getElementById('duoshuo_thread').classList.remove('hide')
    }

}, false)

</script>

</body>
</html>
