<!DOCTYPE html>
<html lang="en">
<head>
@import('extend/head.html')
<title> archives - {{{title}}} </title>
</head>
<body>

@import('extend/header.html')

<div class="archives center">

    <h2 class="tag">Archives</h2>

    {{#posts}}
    <div>
        <h3>{{{year}}}</h3>
        <ul>
        {{#data}}
        <li>
            <p><span>{{{post_time}}}</span><a href="{{{path}}}">{{{post_title}}}</a></p>
            <div class="label">tags: 
            {{#tags}}
            <a href="/tag/{{{.}}}/">#{{{.}}}</a>
            {{/tags}}
            </div>
        </li>
        {{/data}}
        </ul>
    </div>
    {{/posts}}

</div>

@import('extend/fooetr.html')

</body>
</html>
